---
layout: page
title: 
description: "Tim Hanus, Software in Austin TX"
tags: [software, austin, development]
---

<style>
    .social-icons a {
    	margin-right: 30px;
    	margin-left:  30px;
    }
</style>
<div style='text-align: center'>
<div class="social-icons">
        {% if site.owner.twitter %}<a href="http://twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on Twitter" target="_blank"><i class="icon-twitter icon-4x"></i></a>{% endif %}
        {% if site.owner.facebook %}<a href="http://facebook.com/{{ site.owner.facebook }}" title="{{ site.owner.name}} on Facebook" target="_blank"><i class="icon-facebook icon-4x"></i></a>{% endif %}
        {% if site.owner.google_plus %}<a href="{{ site.owner.google_plus }}" target="{{ site.owner.name}} on Google+" target="_blank"><i class="icon-google-plus icon-4x"></i></a>{% endif %}
        {% if site.owner.linkedin %}<a href="http://linkedin.com/in/{{ site.owner.linkedin }}" title="{{ site.owner.name}} on LinkedIn" target="_blank"><i class="icon-linkedin icon-4x"></i></a>{% endif %}
        {% if site.owner.instagram %}<a href="http://instagram.com/{{ site.owner.instagram }}" title="{{ site.owner.name}} on Instagram" target="_blank"><i class="icon-instagram icon-4x"></i></a>{% endif %}
        {% if site.owner.github %}<a href="http://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank"><i class="icon-github icon-4x"></i></a>{% endif %}
        {% if site.owner.tumblr %}<a href="http://{{ site.owner.tumblr }}.tumblr.com" title="{{ site.owner.name}} on Tumblr" target="_blank"><i class="icon-tumblr icon-4x"></i></a>{% endif %}
</div>
</div>

{% for post in site.posts limit:10 %} 
<ul class="post-list">
  <li><article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
</ul>
{% endfor %}
